* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #317b78;
    font-family: 'Lora', serif;
}

header .cabecalho,
header .cabecalho nav li {
    background-color: #04cec7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 8px 0;

}

header .cabecalho a {
    text-decoration: none;
    font-size: 20px;
}

header h1,
a,
p,
h2,
h3 {
    margin: 0 20px;
    color: white;
    margin-top: 8px;
}

header .cabecalho a:hover {
    color: #0230f9;
}


.main {
    display: flex;
    margin-top: 10px;
}


section .main .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    list-style-type: none;
}

section .main .logos img:hover{
    width: 110px;
    height: 110px;
}

.container form {
    font-family: 'Oswald', sans-serif;
    margin: 20px 18px 10px 20px;
    width: 280px;
    height: 520px;
    background-color: #dedee0;
}

.container form label,
input,
button,
textarea {
    width: 250px;
    padding: 8px 15px;
    margin: 3px 3px;
    margin-left: 15px;
    resize: none;
}

.container button {
    width: 250px;
    background-color: #c0c2ca;

}

textarea{
    height: 170px;
}

.container button:hover {
    color: #0230f9;
    background-color: rgb(45, 202, 202);

}

.formulario section h3{
    color: black;
}

footer{
    background-color: #04cec7;
    padding: 10px 10px;
}